datasets==2.20.0
Flask==3.0.3
librosa==0.10.2.post1
moviepy==1.0.3
numpy==1.26.4
opencv_contrib_python==4.9.0.80
opencv_python==4.9.0.80
pydub==0.25.1
pytube==15.0.0
scipy==1.14.0
soundfile==0.12.1
torch
transformers==4.41.1
